body{
    background: rgb(245, 134, 134);
}
h1{
    text-align: center;
}
img{
    width: 250px;
    height: 200px;
}
/* flexbox */
li{
    list-style-type: none;
}

.padre{
    display: flex;
    padding: 50px;
    border: solid 5px rgb(56, 8, 187);
   /* flex-wrap: nowrap; */ 
  /*  flex-direction: row; */
  /*  flex-direction: column; */
   flex-wrap: wrap;
   /* flex-direction: row-reverse; */

   /* justify-content: space-between */;
   justify-content: space-around;
  /*  align-items: stretch; */

   
}
.hijo{
    border: solid 2px black;
    text-align: center;
    margin-bottom: 25px;
}
.pasoRaton:hover{
    background: rgb(255, 0, 166);
    width: 400px;
    height: 400px;
    color: white;
}